/* variables */
:root {
    --primary: #ffc636;
    --secondary: #0a0b5b;
}

/* reset */
body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: noen;
}

/* base style */
body {
    background: var(--secondary);
    overflow-x: hidden;
}

.button {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
}

.button:hover {
    color: #222;
    background: var(--primary);
}
input, textarea{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893d8;
    color: #f2f2f2;
}

/* FONTS */

/* mobile style */

/* small tablet style */
@media screen and (min-width: 620px) {}

/* large tablets & laptop */
@media screen and (min-width: 960px) {}

/* desctop style*/
@media screen and (min-width: 1200px) {}